@media (min-width: 700px) {
  nav {
    display: inline-block !important;
  }
  nav ul {
    flex-direction: row;
    justify-content: left;
  }
  nav li {
    margin: 0;
  }
  nav li a {
    border-bottom: none;
    border-right: 1px solid #283043;
    padding: .75rem 2rem;
  }
  nav li:last-child a {
    border-right: none;
  }
  #menuBtn {
    display: none !important;
  }
  .profile {
    flex-direction: row;
  }
  .about {
    margin-right: 1rem;
  }
  .photo {
    min-width: 100px;
    max-width: 100px;
    margin-left: 0;
  }
  .course-list {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
  }
}